@page
@model ProyectoBase.App.Presentacion.Pages.Profesiones.ListModel
@{
   var searchString = Model.searchString; 
}
<h1>Listado de Profesiones</h1>
<p>
    @Html.ActionLink("Create New", "./List")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar x Nombre: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    @foreach (var profesion in Model.profesiones)
    {
        <tr>
            <td>@profesion.id</td>
            
            <td>@profesion.nombre</td>
            
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-profesionId="@profesion.id">
                    Detalle</a>
            </td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-profesionId="@profesion.id">
                    Editar
                </a>
            </td> 

            <td>
                <a class="btn btn-danger table-btn" asp-page="./Delete" asp-route-profesionId="@profesion.id">
                    Eliminar
                </a>
            </td> 
        </tr>
    }
</table>

<a asp-page=".\Edit" class="btn btn-primary">Adicionar una profesion</a>
