@page
@model ProyectoBase.App.Presentacion.Pages.Estadosciviles.ListModel
@{
   var searchString = Model.searchString; 
}
<h1>Listado de Estadosciviles</h1>
<p>
    @Html.ActionLink("Create New", "./List")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar x Nombre: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    @foreach (var estadocivil in Model.estadosciviles)
    {
        <tr>
            <td>@estadocivil.id</td>
            
            <td>@estadocivil.nombre</td>
            
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-estadocivilId="@estadocivil.id">
                    Detalle</a>
            </td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./Edit" asp-route-estadocivilId="@estadocivil.id">
                    Editar
                </a>
            </td> 

            <td>
                <a class="btn btn-danger table-btn" asp-page="./Delete" asp-route-estadocivilId="@estadocivil.id">
                    Eliminar
                </a>
            </td> 
        </tr>
    }
</table>

<a asp-page=".\Edit" class="btn btn-primary">Adicionar una estadocivil</a>
